<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Complaint</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>




    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- gb -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/flaticon.css">


    
    <link rel="stylesheet" href="css/terms.css">
</head>
<body>
    <div class="terms">
    <h1>Complaint or Grievance Redressal System</h1>
    <h2>Information regarding Investor Complain/Grievance Redressal Mechanism is below: -</h2>
    <h2>Level 1:</h2>

    <p>If you have any complain regarding services provided to you, kindly talk to your relationship manager or his/her senior regarding the same. If your complaint is not resolved, you can write an e-mail at complaint@aryanwealth.in. To understand your complain and provide you the best possible solution, our senior team member will call you in 2 working days (48 hours).</p>

    <h2>Level 2:</h2>

    <p>If you are not satisfied with the response received from level 1 or you have not received any response, you can escalate the same issue to our higher authority at priority@aryanwealth.in. Sometimes important and serious issues raised to the senior authority are being solved immediately in best possible manner. Once your grievance received to the senior authority, you will get response within 3 working days (72 hours).</p>

    <h2>Level 3:</h2>

    <p>We make sure that all your complaints are resolved from level 1 and level 2, but after escalation to both the levels, still not satisfied with the solution, you can email to management@aryanwealth.in providing them your previous escalation emails, marking all the copies of replies from Level-1 and Level-2. We always try to solve your complaint in best possible manner from our side.</p>
    <p>Please note that emailing your complain to all the levels at the same time will not be considered as escalated matter and it will take the same time only. So it’s our sincere request to escalate your complaint from level 1 to level 3.</p>


</div>





    </body>

</html>