<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Disclaimer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>




    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- gb -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/flaticon.css">


    
    <link rel="stylesheet" href="css/terms.css">
</head>
<body>
    <div class="terms">
    <h1>DISCLAIMER</h1>
       <p>Trading/investing in Stock Market involves
        considerable risk. Investment in equity shares,
        futures, options and commodities has its own
        risks.
        </p>
       <p>You may lose part or all of the initial investment
        because stock market investments are subject to
        market risk. It is not ideal for all types of investors to
        invest in stock market.
        </p>
       <p>Past performance may not necessarily be repeated
        in the future. The views & tips provided is based on
        information & analysis which is believed to be
        accurate. This information is provided to enable
        you to make your own investment decisions and
        should not be construed as investment advice.
        </p>
       <p>We do not offer any product/service with
        assured/guaranteed returns. The anticipatory
        moves mentioned are purely subject to technical
        studies and does not take into consideration
        sudden currency volatility and data events. The
        owner and employees of INTRADAY WITH ARYAN
        cannot be held responsible for the accuracy of the
        tips.
        </p>
       <p>We don’t give any kind of profit commitments.
        Investment is stock or commodity markets is
        subject to market risk, though best attempts are
        made for predicting markets, but no surety of return
        or accuracy of any kind is guaranteed, while the
        performance sheet of various products is available
        but should not be considered as a guarantee for
        future performance of the products/services.
        Clients are advised to consider all the advice as
        just an opinion and make investment decision on
        their own.
        </p>
       <p>In case of clients seeking advice on any specific
        positions already made by the client, we will be
        able to suggest best possible action considering
        our view on the security or product. Such
        suggestion under any circumstances shall be
        considered as an opinion (not advice) from our
        organisation and we advise client to consider our
        opinion and not consultancy to make his/her final
        decision. We are not liable for any losses
        whatsoever client may incur in accepting this
        opinion.
        </p>
        <p>Client is also advised to trade only if tips suit his
            current risk appetite and risk bearing capacity, all
            such tips shall be considered as a view or opinion
            and client shall on his/her discretion decide actual
            trades.
        </p>


        <h3>The management of company reserves all its right
                related to any services. The decision of the
                management of the company shall be final & binding on
                the customers.
                </h3>



    </div>





    </body>

</html>