<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Refund Policy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>




    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- gb -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/flaticon.css">


    
    <link rel="stylesheet" href="css/terms.css">
</head>
<body>
    <div class="terms">
    <h1>Refund Policy</h1>
        <p>•	Recommendations given to you are based on our judgements and the information available at particular point of time. However, company or its employees are not responsible for the losses or gains made through the recommendations. Clients are advised to exercise on our recommendations at their own risk. We shall not be responsible for failure of connectivity of network and internet for any reasons.</p>
        <p>•	Stock market investments and trading is subject to market risk, in case of any fully or partial capital loss, Aryan wealth or any of its employees are not responsible and not liable for any compensation.</p>
        <p>•	All subscription services are final there will be no refunds or cancellation, once the payment is made, it can’t be cancelled or refunded in any case. In case of any dissatisfaction, you can always email us and we will surely and positively try to solve your problem.</p>
        <p>•	Refund of service charges are not possible for any packages, plans or services. Kindly make the payment after reading all the terms and conditions, disclaimers and refund policy.</p>
        <p>•	By making a payment for services to our website, you acknowledge that you have read and agreed to all terms and conditions, disclaimers and no refund and no cancellation policy.</p>
        <p>•	For enjoying uninterrupted services, customers are responsible for the timely payment of the renewal fee.</p>

<h3>Checklist before subscribing to our services:</h3>

<p>•	It is advisable to check all the information about our services and risk involved in trading. We don’t offer any kind of promissory or guaranteed returns.</p>
<p>•	In any case due to any personal reason if any client cannot continue services after making the payment, then we can provide services in future but refund of payment will not be possible.</p>
<p>•	Before making payment you can clear all your doubts by speaking with our executive.</p>
<p>•	You can read all information about us, packages, and services before subscription.</p>
<p>•	It is advisable from our side to check refund policy, privacy policy, complaints and disclaimer before subscription.</p>
<p>•	For us, our clients are always on top priority so we believe to take their transaction in serious manner. Before opting to our services we strongly encourage you to check each and every page of our website so that you can avail proper knowledge and information of our company.</p>
<p>•	Make sure that you do not give your credit card details to any third party who could access your account. Don’t share your credentials with anyone in any form. This way we will make sure that your membership is safe.</p>

<h3>By making payment for our services it is implied and also you acknowledge that you have read and agreed to the above no refund and no cancellation policy.</h3>











    </div>





    </body>

</html>