<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TERMS AND CONDITIONS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>




    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- gb -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/flaticon.css">


    
    <link rel="stylesheet" href="css/terms.css">
</head>
<body>
    <div class="terms">
    <h1>Terms of Use</h1>

    <h3>
        This section contains terms and conditions of Use of this website. By accessing this website or any of its pages, you are agreeing to this terms and conditions.
    </h3>
    
    <p>Aryan wealth management reserves all the rights to change the Terms and Conditions from time to time as and when required without any intimation to you, and your continued use of the site will signify your acceptance of any amendment to these terms. Please keep visiting the “Terms&Conditions” link in our website www.aryanwealth.in from time to time to stay informed about any update/modification of information that may be done by us. You are therefore advised to re-read the terms of services on a regular basis. If you do not accept any of the modifications or amendments to the Terms, you should terminate use of this website and the products and services offered through it with immediate effect.</p>
    <p>Aryan wealth management is not responsible for delay in trades due to non-receipt of payment. Your services will only be activated after we receive complete payment.</p>
    <p>Aryan wealth management has all rights to change packages and plans however we will inform you prior one-week advance to avoid inconveniency.</p>
    <p>There is no guarantee or warranty for specified time-frame regarding the completion of the packages or services. We always try our level best to complete the services as soon as possible. Aryan wealth is not responsible for the delay in completion of package as it totally depends on market condition. No judgement or no warranty is made for timelines.</p>
    <p>Future performance will be never based on past performance provided in the website. We strongly suggest that if you have extra income or spare income then only you invest in stock market never take loans for trading in Stock Market.</p>
    <p>Aryan wealth management or its employees shall not be responsible for any losses of capital incur during subscription of our services. It is implied that stock market investments are subject to market risks and customers are aware that in order to get good returns from market they may incur loss so whatever you do is at your own risk. Aryan wealth management do not guarantee any fixed profit on its paid services.</p>
    <p>If in any case conflicts or disputes arising between Aryan wealth management and client, then all the matters shall be subject to Patna Jurisdiction.</p>

    <h3>Below are the guidelines every paid customer has to follow: -</h3>
    <p>After activation: After payment of service charges you have to complete KYC and risk profile etc. Non co-operation in this process may leads to termination or temporary hold for services.</p>
    <p>Account obligations: As a registered member you are responsible for or maintaining the confidentiality of your account and Password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or Password.</p>
    <p>Copyrights of information: Design and information contained in this site is valuable property of Aryan wealth management and no one can use the same without intimation to us.</p>
    <p>Delay in Services: Neither Aryan wealth management nor employees shall be liable for any losses or lability resulting directly or indirectly for delays or interruptions due to electronic failure, telephone internet connection problems, weather, strikes, fire, act of God, Riots, War or other like causes.</p>
    <p>Trading: We will flash message on website due to any reason if client is not able to place trades timely then whichever trades missed out that profit will be calculated. So it is strongly suggested to be available during market hours.</p>
    <p>REFUND & CANCELLATION POLICY: All the transactions done through our Website www.eqwires.com or paid into our bank account are final and it cannot be cancelled. We have No refund and cancellations policy. Before making the payment, you are advised to evaluate our services and make up your mind and then pay the charges. We do not offer refunds on subscriptions that have already been taken.</p>

    <h4>For this reason, we strongly recommend that before payment, our visitors:</h4>
    <h5>1. Read all information about our products, services and support given to our clients.</h5>
    <h5>2. Evaluate the quality of our services by taking 1 Paid trial service.</h5>
    <h5>3. Read all About Us and our technical Team.</h5>
    <h5>4. Read the Help and Frequently Asked Questions (FAQ) sections.</h5>
    <h5>5. Read our Terms of Use.</h5>
    <h5>6. Read our Privacy Policy.</h5>


    <h5>Do not allow children or other unauthorized family members or friends to access your credit cards or your account at the payment site to ensure that no one pays for a Membership without your permission.</h5>
    <h5>By making a payment for Membership to our website, you acknowledge that you have read and agree to the above No Refund and No Cancellation Policy.</h5>



</div>





    </body>

</html>