<table class="table table-striped table-hover .table-responsive">
    <thead>
        <tr>
            <th>Call</th>
            <th>Time</th>
            <th>Script</th>
            <th>Price</th>
            <th>TGT1/PTS</th>
            <th>TGT2/PTS</th>
            <th>TGT3/PTS</th>
            <th>LTP</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for i in list %}
        <tr>
            <td>{{i.Call}}</td>
            <td>{{i.Time}}</td>
            <td>{{i.Script}}</td>
            <td>{{i.Price}}</td>
            <td>{{i.TGT1_PTS}}</td>
            <td>{{i.TGT2_PTS}}</td>
            <td>{{i.TGT3_PTS}}</td>
            <td>{{i.SL}}</td>
            <td>{{i.LTP}}</td>
            <td>{{i.Remarks}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>